* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: NYT;
    src: url('fonts/Chomsky.otf');
}

body {
    margin: 0% 8% 0% 8%;
}



/* ---------- */
/*   header   */
/* ---------- */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.logo {
    font-family: NYT;
    font-size: 5.7em;
    margin: 0;
    text-align: center;
    width: 100%;
}

.quote {
    font-size: .7em;
    background-color: white;
    border: .2px solid black;
    padding: 1.5em;
    font-family: 'Inria Sans', sans-serif;
    margin: 5vmin 0vmin;
    text-align: center;
}

.date {
    font-size: 1em;
    text-align: right;
    align-self: center;
    font-family: 'Inria Sans', sans-serif;
}



/* ---------- */
/*   navbar   */
/* ---------- */

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inria Sans', sans-serif;
    font-size: .8em;
    border-top: 1.5px solid rgb(168, 168, 168);
    border-bottom: 1.5px solid rgb(168, 168, 168);
    padding: 2px 0px;
}

.issue {
    text-align: left;
    width: 13%;
}

.price {
    text-align: right;
    width: 13%;
}

.navbar {
    width: 75%;
    text-align: center;
}

.nav-links li {
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    padding-left: 6.5%;
    padding-left: 6.5%;
}

a {
    color: black;
    text-decoration: none;
    padding: 4.5px;
}

.active:hover {
    background-color: rgba(233, 233, 233, 0.567);
    padding: 4.5px;
    border-radius: 5px;
}



/* ---------- */
/*   heading  */
/* ---------- */

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-top: 30px;
}

.sub-heading {
    font-family: 'Inria Sans', sans-serif;
    color: #787878;;
    font-size: .9em;
    margin-top: 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}



/* ---------- */
/*   repeats  */
/* ---------- */

.title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}

.text {
    font-family: 'Georgia', serif;
    font-size: .8em;
    text-indent: 1.25em;
    text-align: justify;
    color: #383838;
}

.text:first-of-type::first-letter {
    font-size: 1.5em;
}

.description {
    font-family: 'Lora', serif;
    font-size: .9em;
    width: 100%;
    color: #383838;
}

.under-title {
    margin: auto;
    width: 10%;
}



/* ---------- */
/*  row 1 & 3  */
/* ---------- */

.present {
    display: block;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 12.5px 0px;
}

.row1, .row3 {
    display: flex;
    width: auto;
    padding: 12.5px 0px;;
    justify-content: space-between;
    border-bottom: 2px solid rgb(228, 227, 227);
}
.row3 {
    border-bottom: none;
}

.remix, .popup-shop {
    width: 33%;
    padding-right: 10px; 
    border-right: 2px solid rgb(228, 227, 227);
}

.paragraph {
    padding: 5px 0px;
    width: 100%;
    column-count: 2;
    column-gap: 1em;
}

.wimbledon, .new-music {
    width: 32%;
    padding: 0px 10px;
}

.picture {
    margin: auto;
    width: 33%;
}

.image {
    width: 100%;
}



/* ---------- */
/*    row 2   */
/* ---------- */

.row2 {
    display: flex;
    width: auto;
    padding: 12.5px 0px;;
    justify-content: space-between;
    border-bottom: 2px solid rgb(228, 227, 227);
}

.vogue {
    width: 32%;
    padding: 0px 10px;
}

.perfume {
    width: 33%;
    padding-left: 10px; 
    border-left: 2px solid rgb(228, 227, 227);
}



/* ---------- */
/* responsive */
/* ---------- */

@media screen and (max-width: 1150px) {
    .quote {
        font-size: .6em;
        padding: 1em;
    }
    .logo {
        font-size: 4em;
    }
    .heading {
        font-size: 2.5em;
    }
    .sub-heading {
        font-size: .8em;
    }
    .text {
        font-size: .75em;
    }
    .product-images, .collection {
        width: 16%;
    }
    .description {
        font-size: .8em;
    }
}

@media screen and (max-width: 990px) {
    .paragraph {
        column-count: 1;
    }
}

@media screen and (max-width: 880px) {
    .logo {
        font-size: 3.2em;
    }
    .date {
        font-size: .8em;
    }
    .options {
        font-size: .7em;
    }
}

@media screen and (max-width: 735px) {
    .quote {
        font-size: .5em;
        padding: .9em;
        width: 85%;
    }
    .logo {
        font-size: 2.2em;
    }
    .date {
        font-size: .75em;
    }
    .options {
        font-size: .45em;
    }
    .navbar {
        width: 75%;
    }
    .title {
        font-size: 1.75em;
    }
    .text {
        font-size: .7em;
    }
    .row1, .row3 {
        flex-wrap: wrap;
    }
    .row2 {
        flex-wrap: wrap-reverse;
    }
    .remix, .wimbledon, .popup-shop, .new-music, .vogue, .perfume {
        width: 50%;
    }
    .picture {
        width: 80%;
        padding-top: 10px;
    }
    .paragraph {
        column-count: 2;
    }
}

@media screen and (max-width: 580px) {
    .quote {
        display: none;
    }
    .date {
        display: none;
    }
    .logo {
        margin-bottom: 10px;
    }
    .paragraph {
        column-count: 1;
    }
}